/*------------------------------------------------------------------
	[Master Stylesheet]
	
	Project:    Ainjibi
	Version:    1.0
	Last change:    
	Author Name: DeshiSmash Developer
	Primary use:    Project Type
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
	[Table of contents]
	
	1. Body
	2.
-------------------------------------------------------------------*/

/*
	==========================================
    Reset Css
	==========================================
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* All Display None CSS Start */
.download-apk {
  display: none;
}
.videoplay-area {
  display: none;
}
/* All Display None CSS END */
.container {
  max-width: 1440px !important;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
 
}
body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: 'Roboto', sans-serif !important;
}
/* Universilal CSS  */

/* Universilal CSS  END */

/* Menu CSS  */

/* sticky nav  */
.navh{
  z-index: 999 !important;
  /* background-color: red; */
}
.is-sticky{
  background-color:red;
}
/*Sticky Div CSS*/
#sticky.stick {
	margin-top: 0;
	position: fixed;
	top: 0;
	z-index: 10000;
	width: 100%;
	/* left: 15px; */
	padding: 20px 0px;
}
#sticky.stick::after {
  position: absolute;
  background: #fff;
  width: 100% !important;
  height: 100%;
  top: 0;
  left: 0px;
  content: '';
  z-index: -1;
  opacity: 1;
  /* border-bottom: 1px solid #00000029; */
  padding-bottom: 10px;
  box-shadow: #f1f3f4 0 8px 11px 0px;
  transition: .3s linear;
}
.header-search input {
	width: 100% !important;
	margin: 0 auto;
	padding: 12px;
	background: #F1F3F4;
	border-radius: 10px;
	border: 1px solid #F1F3F4;
	/* border: 0; */
}
.main-menu-area {
	padding: 20px 0px;
	background-color: #fff;
}
.nav-bar ul li a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 18px;
}
/* .main-menu-area {
	padding: 20px 0px;
	background-color: #fff;
	position: fixed;
	overflow: hidden;
	width: 100%;
	z-index: 99;
} */
.nav-bar ul li {
	display: inline;
	margin: 0px 10px;
	padding-top: 10px;
}
.nav-bar ul li a svg {
	height: 1.75rem;
	color: red;
}
.nav-bar ul li a i {
	color: #000;
	font-size: 25px;
	margin-top: 11px;
}
.nav-link {
  color: #000 !important;
  line-height: 37px;
  margin-right: 16px;
  font-size: 18px;
  font-family: arial;
}
/* .navbar-brand img {
	  width: 180px;
  } */
.navbar-brand img {
  max-width: 60%;
}
.brand-btn {
  padding: 9px 20px;
  font-size: 0.9375em;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #44a512;
  background-color: #44a512;
  cursor: pointer;
  color: #fff !important;
}

/* Hero Area  */

/* .hero-area {
  
  padding: 50px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #f3f3f3;
} */
.hero-area {
	/* height: 450px; */
	/* padding: 50px 0px; */
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #f3f3f3;
}

.hero-area h1 {
	font-size: 46px;
	font-weight: 500;
	line-height: 1.28;
	color: #242c42;
	margin-bottom: 25px;
	text-overflow: ellipsis;
	overflow: visible;
	white-space: nowrap;
	text-align: left !important;
}

.hero-area .feature-text {
  margin: 0 0 1.875em 0;
  font-size: 20px;
  line-height: 1.75;
  color: #242c42;
  text-overflow: ellipsis;
  overflow: visible;
  white-space: nowrap;
}

/* .hero-area .form-control {
  height: 60px;
  padding-left: 47px;
  font-size: 18px;
} */
.hero-area .form-control {
	height: 60px;
	/* padding-left: 47px; */
	font-size: 18px;
}

.search-btn-box .icon-search {
  font-size: 22px;
  color: black;
  margin: 13px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.search-btn-box {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 5px;
  z-index: 1000;
  left: 0;
  border-top-right-radius: 5px;
}

.left-search-padding {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-area input {
  border-radius: 4px !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px rgba(36, 44, 66, 0.4);
  height: 60px;
}

/* explore area  */
/* .explore-area {
  margin-bottom: 55px;
  padding: 10px 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e5e5;
} */
.explore-area {
	margin-bottom: 55px;
	padding: 10px 0;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
	/* border: 1px solid #e5e5e5; */
}
.explore-area .explore-image {
  padding-right: 17px;
  display: table-cell;
  vertical-align: middle;
}

.explore-area .explore-text {
  vertical-align: middle;
  display: table-cell;
  text-align: left;
}
.explore-area .explore-title {
  font-size: 1.125em;
  font-weight: 500;
  color: #777777;
  text-decoration: none;
}
.explore-area .explore-title:hover {
  color: #44a512;
}
.explore-area p {
  font-size: 1em;
  color: #777777;
}

/* lawyears Profile area  */
.lawyers-profile-area {
  padding-bottom: 100px;
}
.lawyers-title {
  color: #344763;
  margin: 20px 0px;
  margin-bottom: 60px;
}
.lawyers-title span {
  color: #55bc7e;
}
.lawyers-title-content {
  margin: 30px 0px;
  color: #344763;
}

.lawyers-box {
  text-align: center;
  background-image: url(../img/bg2.jpg);
  /* background-color: #000; */
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0px;
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
}
.bg2 {
  text-align: center;
  background-image: url(../img/fnadminbg.jpg);
  /* background-color: #000 !important; */
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0px;
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
}
.bg3 {
  text-align: center;
  background-image: url(../img/bg4.png);
  /* background-color: #000 !important; */
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0px;
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
}
.bg4 {
  text-align: center;
  background-image: url(../img/bg5.png);
  /* background-color: #000 !important; */
  border-radius: 7px;
  box-shadow: 1px 1px 3px 0px;
  background-size: cover;
  background-position: center;
  padding-bottom: 5px;
}
.lawyers-img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-top: -15px;
}

.lawyers-floweing {
  margin: 30px 35px;
  color: #fff;
}
.div-br::after {
  content: "";
  background: #fff;
  height: 27px;
  width: 1px;
  position: absolute;
  top: 78%;
  left: 48%;
  right: 12px;
  z-index: 999;
  /* border-right: 1px solid red; */
}
.button-law {
  border: 1px solid;
  width: 170px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 16px;
  margin-top: 33px !important;
  color: #fff;
  margin-bottom: 22px;
}
.button-law i {
  padding-bottom: 25px;
  display: inline;
  cursor: pointer;
}
.law-cat {
  cursor: pointer;
  background: none;
  color: #ffff;
  text-transform: capitalize;
  border: 1px solid;
  padding: 5px 25px;
  border-radius: 15px;
  margin-top: 25px;
  /* padding-top: 20px; */
}
.lawyers-button button {
  background: none;
  border: 1px solid aliceblue;
  padding: 15px 27px;
  margin-bottom: 21px;
  border-radius: 24px;
}
.lawyers-button {
  margin: 0px 72px;
}
.lawyers-floweing h5 {
  font-size: 16px;
}
.lawyers-floweing h5 span {
  /* font-weight: bold; */
  font-size: 15px !important;
  display: block;
}
.lawyers-flowers ul li {
  display: ;
  display: inline-block;
  margin: 20px;
  border: 1px solid red;
  padding: 10px 20px;
  border-radius: 30px;
}
.lawyers-floweing ul li {
  display: inline flow-root list-item;
  font-size: 20px;
  font-weight: bold;
  margin: 0px 30px;
  color: #fff;
}
.lawyers-name {
  padding-top: 25px;
  padding-bottom: 20px;
  color: #3c4b62;
  font-size: 19px;
}
.lawyers-cata {
  background: #f3f3f3;
  margin: 31px 99px;
  padding: 8px;
  color: #008dff;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* .lawyers-button {
  background: #f3f3f3;
  padding: 15px;
  margin-top: 30px;
  border-radius: 0px 0px 15px 15px;
}
.lawyers-button button {
  background: none;
  color: #7d8793;
  border: 0;
  font-weight: bold;
  cursor: pointer;
} */
/* talented lawyers area css */

.talented-lawyears-area {
  padding: 50px 0px;
  background: #f3f3f3;
}
.tal-law-content {
  padding-top: 35px;
}
.lat-law-title {
  color: #7d8793;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 30px;
}
.lat-law-title span {
  color: #55bc7e;
}
.tal-law-text {
  color: #b0b0bf;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.tal-law-content button {
  font-weight: bold;
  padding: 15px 35px;
}

/* Law farm css  */

.law-farm-job-area {
  padding: 100px 0px;
}
.law-farm-content {
  padding-top: 100px;
}
.law-farm-title {
  color: #7d8793;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 30px;
}
.law-farm-title span {
  color: #55bc7e;
}
.law-farm-text {
  color: #b0b0bf;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.law-farm-content button {
  font-weight: bold;
  padding: 15px 35px;
}

/* Client and review area  */

.review-area {
  background: #f3f3f3;
  padding: 50px 0px;
}
.review-title {
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #7d8793;
}

.review-box img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.review-box {
  box-shadow: 1px 5px 12px -11px;
  /* border: 1px solid #d7d7d7; */
  padding: 30px;
  border-radius: 20px;
  margin-top: 20px;
  /* box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048); */

  text-align: center;
  box-shadow: 0 4px 24px 0 rgba(103, 151, 255, 0.1),
    0 12px 64px 0 rgba(103, 151, 255, 0.1);
  border-radius: 13px;
  /* padding: 24px; */
  /* margin-top: 30px; */
  /* margin-bottom: 50px; */
}

.review-hr {
  width: 100px;
  border-bottom: solid 2px #d5e225;
  margin-bottom: 30px;
  display: inline-block;
}
.review-content {
  padding: 25px 0px;
  color: #00000063;
}

.review-box.text-center h5 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #221751;
}
.review-box h6 {
  color: #00000063;
}

/* download the apk  */
.download-apk {
  background-image: linear-gradient(60deg, #4c84ff, #783dff);
  padding-top: 50px;
  color: #fff;
}
.down-apk-title {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.down-apk-content {
  font: 400 16px/28px "Poppins", sans-serif;
  padding-bottom: 42px;
  padding-right: 110px;
}
.download-btn {
  color: #fff !important;
  margin-left: -17px;
}
.download-btn a {
  text-decoration: none;
  color: #fff !important;
  border: 1px solid;
  text-align: center;
  padding: 15px 20px;
  margin-left: 20px;
  border-radius: 12px;
}
.download-btn a:hover {
  background: #fff;
  color: #000 !important;
  border: 1px solid #fff;
  transition: 0.3s;
}
.download-btn a i {
  margin: 0px 13px;
}
.down-apk-header {
  margin-top: 100px;
}
/* video play back area  */
.videoplay-area {
  background: #f6f5ff;
}
.video-left {
  max-width: 710px;
  margin: 0 -200px 0px auto;
  z-index: 2;
  position: relative;
  background: #fff;
  padding: 95px 50px 120px 120px;
  box-shadow: 0px 10px 50px 0px rgba(26, 38, 74, 0.07);
  border-radius: 10px;
  margin-top: 150px;
}

.video-left h2 {
  color: #1a264a;
  margin-bottom: 30px;
  font-weight: bold;
}
.video-left p {
  color: #747474;
  margin-bottom: 34px;
  font-size: 16px;
  letter-spacing: 1px;
}
.play-button {
  background: none;
  border: 0;
  font-weight: bold;
  text-decoration: underline;
  color: #00bade;
  cursor: pointer;
}

/* Footer css  */
.footer-area {
	background: #1f2130;
	padding: 50px 0px;
	color: #fff;
	z-index: 9 !important;
	overflow: hidden;
	position: sticky;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: none;
  outline: 0;
  box-shadow: 0 !important;
}
.footer-main-title {
  font-weight: bold;
  margin-top: 45px;
}
.input-group.mb-3 {
  margin-top: 55px;
}
.input-group input {
  padding: 10px;
}
.input-group button {
  border: oldlace;
  cursor: pointer;
  padding: 11px;
  border-radius: 0px 8px 7px 0px;
  border: 1px solid #28a745;
}
.input-group button:hover {
  background: none;
  border: 1px solid #28a745;
  transition: 0.3s;
  color: #fff;
}
.footer-main-section {
  margin-top: 80px;
  margin-bottom: 80px;
}
.footer-logo {
  padding-bottom: 30px;
  height: 60px;
  width: 95px;
}
.footer-about {
  padding-bottom: 30px;
  text-transform: lowercase;
}
.social-icon a {
  color: #70707a;
  padding: 0px 13px;
  font-size: 20px;
}
.social-icon a:hover {
  background-color: #3ab5d9;
  color: #fff;
  padding: 10px;
  border-radius: 19px;
  transition: 0.3s;
}
.footer-title {
  font-weight: bold;
  margin-bottom: 30px;
  font-size: 20px;
}
.footer-cont ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-cont ul li {
  margin: 11px 0px;
}
.foter-contact ul li {
  margin: 23px 0px;
}
.foter-contact ul li a i {
  margin: 0px 8px;
}
.copyright-branding ul li {
  display: initial;
  margin: 0px 15px;
}
.copyright-branding ul li a {
  color: #fff;
  text-decoration: underline;
}
.footer-copyright {
  border-top: 1px solid #515050;
  padding-top: 30px;
}
.copyright-branding ul li a:hover {
  color: #28a745;
  transition: 0.3s;
}
/* category area css  */

.category-area {
  padding: 50px 0px;
}
.category-title {
  text-align: center;
  padding: 30px 0px;
  color: #666;
}
.category-title h3 {
  margin-bottom: 12px;
}
.category-title p {
  margin-bottom: 50px;
}
.category-shadow {
  /* box-shadow: 0 4px 24px 0 rgba(103,151,255,.1),0 12px 64px 0 rgba(103,151,255,.1); */
  /* border-radius: 100px;
	  padding: 24px; */
}
.category-card {
  text-align: center;
  box-shadow: 0 4px 24px 0 rgba(103, 151, 255, 0.1),
    0 12px 64px 0 rgba(103, 151, 255, 0.1);
  border-radius: 13px;
  padding: 24px;
  /* margin-top: 30px; */
  margin-bottom: 50px;
}
.category-card img {
  box-shadow: 0 4px 24px 0 rgba(103, 151, 255, 0.1),
    0 12px 64px 0 rgba(103, 151, 255, 0.1);
  border-radius: 100px;
  padding: 24px;
}
.category-card h6 {
  color: #20292f;
  font-weight: 700;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 13px;
}
.category-card ul li a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  padding: 3px !important;
  display: block;
}
.category-card ul li a:hover {
  color: #20292f;
  transition: 0.3s;
  /* font-weight: 600; */
}

.category-btn {
  background: #28a745;
  border: 1px solid #28a745;
  border-radius: 6px;
  font-weight: bold;
  padding: 15px 35px;
  color: #fff;
  cursor: pointer;
}
.category-btn:hover {
  background: none;
  border: 1px solid #28a745;
  transition: 0.3s;
  color: #000;
}

/*All Page CSS Here Start */

/* Brands Page  */
.brand-hero {
  min-height: 576px;
  background-image: url(../img/whyms.svg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff !important;
}

.brand-hero-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.brand-hero-content {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
  color: #fff;
}
.brand-hero-section {
  padding-top: 166px;
}

/* Section How it work  */
.section-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #242c42;
}
.divider-line {
  width: 100px;
  border-bottom: solid 2px #81209d;
  margin-bottom: 30px;
  display: inline-block;
}
.ms-works svg {
  position: absolute;
  top: 26%;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.ms-works {
  min-height: 585px;
  text-align: center;
  position: relative;
}

.ms-works-holder {
  min-height: 445px;
  width: 20%;
  float: left;
  position: relative;
}
.even-holder .ms-works-inner {
  top: 53%;
}
.ms-works-holder .ms-works-inner {
  position: absolute;
}

.odd-holder .ms-works-inner {
  top: 0;
}

.ms-works-holder.odd-holder .works-content {
  padding-bottom: 20px;
}

.ms-works-holder.even-holder .works-content {
  padding-top: 20px;
}

.works-icon-holder span {
  display: inline-block;
  padding: 16px;
  border: 2px solid #81209d;
  border-radius: 100%;
  background-color: #fff;
  width: 65px;
  height: 65px;
  /* margin-top: 42px; */
}

.works-icon-holder span img {
  font-size: 30px;
  width: 31px;
}

.works-content {
  color: #242c42;
}

.works-content-title {
  padding-bottom: 16px;
  font-size: 20px;
}
.works-content-info {
  min-height: 65px;
  font-size: 15px;
  line-height: 1.6;
}

/* bad review  */

.divider-line {
  width: 100px;
  border-bottom: solid 2px #81209d;
  margin-bottom: 30px;
  display: inline-block;
}
.section-title {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
  color: #242c42;
}
.section-content {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}
.primary-grad {
  background-image: linear-gradient(109deg, #3f0050, #81209d);
}
.btn-primary {
  padding: 7px 15px;
  border-radius: 4px;
  border: 1px solid #81209d;
  background-color: #81209d;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.16);
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  line-height: 1.6;
}

.shape-svg-1,
.shape-svg-2,
.shape-svg-3,
.curve-svg {
  position: relative;
  margin-top: 50px;
}
.shape-svg-1 svg {
  position: absolute;
  top: 0%;
  right: 0;
  z-index: -2;
}
.section-holder {
  padding-top: 50px;
}
.feature-section-holder {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}
.image-left .feature-photo {
  padding-right: 125px;
}
.feature-section-holder .feature-photo img {
  width: 370px;
}
.feature-text .section-title {
  padding-right: 0 !important;
}

/* new Customar area  */

.new-customar {
  padding: 100px 0px;
}
.new-customar h2 {
  margin-top: 75px;
}

/* cta area  */
.cta {
  background-image: url(../img/client-bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff !important;
  min-height: 576px;
  text-align: center;
  margin: 50px 0px;
}
.divider-line.cta-divider {
  border-bottom: solid 2px #fff;
  margin-bottom: 30px;
  display: inline-block;
  margin-top: 20px;
}
.cta button {
  border: 1px solid aliceblue;
  background: none;
  padding: 10px 60px;
  font-weight: bold;
  margin-top: 20px;
}
.cta button:hover {
  background: green;
  transition: 0.3s;
  border: 1px solid aliceblue;
}
.cta input {
  width: 80%;
  display: block;
  margin: 0 auto;
  padding: 10px;
  margin-top: 15px;
}
.cta-title {
  margin-top: 110px;
}
.cta-content.pb-1 {
  margin-top: -15px !important;
}

/* Frontend dashbord css here ! */
.frn-hero-bg {
  /* background-color: #000; */
  height: 40vh;
  background-image: url(../img/fnadminbg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.brand-btn.write-review {
  background: none;
  color: #000 !important;
  text-transform: capitalize;
}
.brand-btn.write-review:hover {
  background: #44a512;
  color: #fff !important;
  transition: 0.3s;
}
.form-control {
  /* border: 1px solid #44a512 !important; */
}
.nav-link img {
  border: 0;
  border-radius: 50%;
  height: 35px !important;
  /* width: 100%; */
}
.main-menu-area input {
  margin-right: 100px !important;
  /* width: 70% !important; */
}

/* Flower */

.flowers-area {
  background: #ededed;
  padding: 15px 0px;
}
.flowers-area ul li a {
  float: left;
  margin: 0px 25px;
  color: #000;
  text-decoration: none;
}

.username {
  text-align: center;
  font-size: 18px;
  margin-top: 7px;
  color: #738391;
}

/* side bar menu  */
.box-menu ul li a i {
  color: #7c8c98 !important;
}
.side-bar-box {
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #e5e5e5;
  margin-top: -150px;
  border-radius: 30px;
}
.side-bar-box img {
  height: 100px;
  width: 100px;
  margin: 0 auto !important;
  display: block;
  border-radius: 50%;
}
.menu-title {
  text-align: center;
  margin-top: 30px;
}
.box-menu {
  padding: 30px;
}
/* .box-menu ul li a {
	  color: #000;
	  margin: 10px 0px !important;
	  display: block;
  } */

.box-menu i {
  display: inline-block;
}
.box-menu h6 {
  display: inline;
  margin: 0px 20px;
}
.box-menu ul li a {
  text-decoration: none !important;
  color: #98a4ae;
}
.box-menu ul li {
  margin: 20px 0px;
}
.box-menu ul li a h6:hover {
  color: #1c9eee !important;
}

.admin-main-content {
	box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.15);
	/* border: 1px solid #262424; */
	/* height: 50vh; */
	/* margin-top: 30px; */
	padding: 50px;
	color: #fff !important;
}
.menu-title i {
  font-size: 20px;
  color: #1c9eee;
  border-radius: 50% !important;
}
.admin-content-title {
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #150f0f;
}

.admin-content-title span {
  text-transform: lowercase;
  font-size: 14px;
  margin: 0px 25px;
  display: inline;
  color: #6b7c8b;
}
.admin-content-text {
  color: #697a89;
}

/* Home2 css  */
.home2-hero-area {
  background-color: #f8f9fd;
  height: 100vh;
  /* padding-bottom: 50px; */
}
.img1 {
  height: 120px;
  width: 120px;
  background: #f8f9fd;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #ededed;
  display: block;
  margin-top: 80px;
}
.img2 {
  height: 150px;
  width: 150px;
  background: #f8f9fd;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #ededed;
  margin-top: 15px;
  display: block;
  margin-bottom: 20px;
  margin-left: 186px;
}
.img3 {
  height: 130px;
  width: 130px;
  background: #f8f9fd;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #ededed;
  display: block;
  margin-left: 60px;
  margin-top: 60px;
}
.img4 {
  height: 130px;
  width: 130px;
  background: #f8f9fd;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #ededed;
  text-align: right;
  margin-left: 60px;
  margin-top: 60px;
}
.img5 {
  height: 150px;
  width: 150px;
  background: #f8f9fd;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #ededed;
  display: block;
  /* margin-left: 60px; */
  margin-top: 60px;
}
.img6 {
  height: 130px;
  width: 130px;
  background: #f8f9fd;
  padding: 15px;
  border-radius: 50%;
  border: 1px solid #ededed;
  display: block;
  margin-left: 158px;
  margin-top: 60px;
}
.home2-input-section {
  background: #ffffff;
  margin-top: 40px;
  border-radius: 25px;
}
.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  /* padding: 0.375rem 1.75rem 0.375rem 0.75rem; */
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  appearance: none;
  /* background: none; */
  border: none;
  border-right: 1px solid #ededed;
  border-radius: 0;
  margin: 10px;
}
.home2-input-section input {
  background: none;
  border: none;
  margin: 10px;
}
.home2-input-section button {
  border-radius: 0px 25px 25px 0px;
  font-weight: bold;
  text-transform: capitalize;
}
.home2-input-section button:hover {
  background-color: #28a745;
  border-radius: 0px 25px 25px 0px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
}
.custom-select:focus {
  box-shadow: none !important;
}

.home2-section-center {
  text-align: center;
  margin-top: 201px;
}
.home2-section-tag {
  padding-top: 40px;
  text-align: center;
}
.home2-section-tag ul li {
  display: inline;
  margin: 10px;
  text-align: center;
}
.home2-section-tag ul li a {
  color: #666565;
  padding: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

/* single dashbord css  */

.sd-title {
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
	font-size: 1.375rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.75rem;
	margin-bottom: 10px;
	hyphens: auto;
	color: #202124;
}
.sd-text {
	letter-spacing: .01428571em;
	font-family: Roboto,Arial,sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
	-moz-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #5f6368;
}
.sd-box {
	padding: 40px;
	border: 1px solid #DADCE0;
	border-radius: 15px 15px 0px 0px;
	margin-top: 50px;
}
.sd-btn {
	font-weight: 500;
	color: #1a73e8;
  text-decoration: none !important;
}
.sd-box-btn:hover{
  background: #fff;
  transition: .3s;
  cursor: pointer;
}
.sd-box-btn {
	padding: 13px 0px;
	border-top: 0 !important;
	border-radius: 0px 0px 15px 15px;
	border: 1px solid #DADCE0;
}
/* twitter Dash Bord CSS  */


.dashbord-main {
	padding: 30px 0px;
	background: #fff;
	color: #fff;
}
.frnt-dashbord-menu ul li {
	display: block ruby;
	/* margin-bottom: 35px; */
	padding: 20px;
	border: 1px solid #eee;
	border-bottom: 0;
  cursor: pointer;
}
.frnt-dashbord-menu ul li:last-child {
	display: block ruby;
	/* margin-bottom: 35px; */
	padding: 20px;
	border: 1px solid #eee;
	/* border-bottom: 0; */
	cursor: pointer;
}
.frnt-dashbord-menu ul li a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	/* padding: 20px; */
}
.frnt-dashbord-menu ul li a img {
	max-width: 100%;
	height: 1.75rem;
	margin-top: -9px;
}
.frnt-dashbord-menu ul li a span {
	margin-left: 12px;
	font-size: 19px;
}
.frnt-dashbord-menu ul li:hover {
	background: #ededed;
	padding: 20px;
	/* border-radius: 10px; */
	color: #1DA1F2;
  transition: .3s;
}
.frnt-dashbord-menu {
	background: #fff;
	/* color: #fff !important; */
	height: 100vh;
	/* width: 25%; */
	border-radius: 10px;
	/* box-shadow: #18191A 2px 2px 13px -9px; */
	position: fixed;
	width: 25%;
	/* z-index: -1; */
}







/* google dash bord css  */
.top-profile img {
	width: 96px;
	height: 96px;
	text-align: center;
	border-radius: 50%;
	margin-bottom: 10px;
}
.top-title {
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
	font-size: 1.75rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 2.25rem;
	-moz-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #202124;
	text-align: center;
}
.top-text {
	letter-spacing: .00625em;
	font-family: Roboto,Arial,sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	-moz-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #5f6368;
	margin-top: 16px;
	text-align: center;
}
.top-db-title{
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
	font-size: 1.375rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.75rem;
	-moz-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #202124;
}
.top-db-text {
	letter-spacing: .01428571em;
	font-family: Roboto,Arial,sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
	-moz-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #5f6368;
	margin-top: 15px;
}
.top-db-box {
	border: 1px solid #DADCE0;
	padding: 40px;
	margin-top: 50px;
	border-radius: 15px 15px 0px 0px;
	min-height: 225px !important;
	border-bottom: 0;
	margin-bottom: -16px;
}
.top-right {
	width: 30%;
	float: right;
	top: 96px;
	position: absolute;
	right: 0;
}
.top-left {
	width: 70%;
}
.top-db-footer {
	/* background-color: red; */
	padding: 10px;
	text-align: left;
	padding: 15px 40px;
	border-radius: 0px 0px 15px 15px;
  border: 1px solid #DADCE0;
}
.top-db-footer:hover{
	background-color: #FAFAFB;
  transition: .3s;
}
.footer-btn{
  letter-spacing: .01785714em;
	font-family: 'Google Sans',Roboto,Arial,sans-serif;
	font-size: .875rem;
	font-weight: 500;
	line-height: 1.25rem;
	-moz-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #1a73e8;
  cursor: pointer;
  font-weight: bold;
}
.top-db-bottom-footer p {
	letter-spacing: .01428571em;
	font-family: Roboto,Arial,sans-serif;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.25rem;
	-moz-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
	color: #5f6368;
	text-align: left;
	margin: 10px 70px;
	margin-top: 50px;
}
/* google dash bord css  end*/




/* persnal profile  */
.single-profile {
	background: #F5F6F6;
	padding: 50px 0px;
}
.sp-wraper {
	display: block;
	margin: 0;
	padding: 1.5rem;
	width: 20.3125rem;
	background: #fff;
	border: 1px solid #d4d4d4;
	position: relative;
  text-align: center;
}
.sp-wraper h2 {
	margin: 0 0 .9375rem;
	padding: 0;
	font-family: Hind,sans-serif;
	font-weight: 500 !important;
	font-size: 1.75rem;
	line-height: 1.875rem;
	color: #a4aeae;
	text-align: center;
	text-transform: none;
}
.pbl-btn-contact-chat {
	/* display: block; */
	margin-bottom: 25px;
	padding: 12px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.1875rem;
	text-transform: capitalize;
	color: #fff;
	text-align: center;
	background: #1098db;
	border-radius: 4px;
	width: 100%;
	border: 0;
}
.sp-wraper ul li {
	color: #1098db;
	display: initial;
	margin: 10px;
}
.sp-wraper ul li a {
	color: #1098db;
	text-decoration: none;
}
.sp-location {
	color: #a4aeae;
	margin-top: 10px;
	cursor: pointer;
}
.sp-location i {
	color: #1098db;
}

/* ================================================================= msprofile css start ================================================================= */

/* .ms-main-gry-bg {
	background: #FAFAFA;
	padding: 50px 0px;
} */
/* 2222222222222222222222222222222222222222222222 */
/* .ms-main-gry-bg {
	padding: 50px 0px;
	background: none;
} */
.ms-main-gry-bg {
	/* padding: 50px 0px; */
	background: none;
}
.ms-profile-avatar img {
	margin: 0 0 16px 0;
	position: relative;
	background: #fff;
	text-align: center;
	display: flex;
	border-radius: 5px;
	border: 1px solid rgba(36,44,66,.2);
	padding: 5px;
	height: 240px;
  width:100%;
}
/* .row.sc-padding {
	background: #fff;
	padding: 30px;
	border-radius: 10px;
} */
.row.sc-padding {
	/* background: #fff; */
	padding: 30px;
	border-radius: 10px;
}
.btn.ms-review-btn {
  width:100%;
	background: #ff5a5f;
	color: #fff;
	font-weight: bold;
  border-radius: 5px;
	padding: 10px;
}

.product-details {
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	margin-bottom: 16px;
	background-color: #fff;
	overflow: hidden;
}
.ms-right-hig {
	display: block ruby;
}
/* 2222222222222222222222222 */
/* .highlight-head {
	background: rgba(237,241,244,.5);
	font-size: 16px;
	font-weight: 400;
	padding: 0 16px;
	margin: 0;
	line-height: 45px;
	color: #5d5d5d;
	overflow: hidden;
  border:1px solid #ededed;
  border-bottom: 0;
  border-radius: 10px 10px 0px 0px;
} */
.highlight-head {
	background: rgba(237,241,244,.5);
	font-size: 16px;
	font-weight: 400;
	padding: 0 16px;
	margin: 0;
	line-height: 45px;
	color: #5d5d5d;
	overflow: hidden;
	border: 1px solid #DADCE0;
	/* border-bottom: 0; */
	border-radius: 10px 10px 0px 0px;
}
/* 2222222222222222222222 */
/* .highlight-bottom {
	background: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 20px 16px;
	margin: 0;
	line-height: 45px;
	color: #5d5d5d;
	overflow: hidden;
	border: 1px solid #ededed;
	border-top: 0;
	border-radius: 0px 0px 10px 10px;
} */
.highlight-bottom {
	/* background: #fff; */
	font-size: 16px;
	font-weight: 400;
	padding: 20px 16px;
	margin: 0;
	line-height: 45px;
	color: #5d5d5d;
	overflow: hidden;
	border: 1px solid #DADCE0;
	border-top: 0;
	border-radius: 0px 0px 10px 10px;
}
.row.highlight-head h3 {
	margin-top: 24px;
	font-size: 17px;
	font-weight: bold;
}
.icon-rating {
	font-size: 23px;
	color: #f5a100 !important;
	font-weight: normal;
}
.fnt30 {
	font-size: 23px;
	color: red;
	font-weight: bold;
}
.fnt30 span{
  color:#000;
  margin-left: 6px;
}
.fnt20{font-size:20px}
.fnt20 span {
	background: #44a512;
	color: #fff;
	padding: 5px 27px;
	border-radius: 6px;
	font-size: 22px;
  margin-left: 6px;
}


.dvrating {
	padding: 10px 0px;
}
.summary .express-ratings {
	text-align: right;
	margin-top: 10px;
}
.express-ratings  div:first-child {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.express-ratings  div:nth-child(5) {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.express-ratings {
	margin-top: 10px;
}
.express-ratings  div {
	width: 18%;
	max-width: 46px;
	padding: 4px;
	float: left;
	margin-right: 2px;
}
.bgcolor-3 {
	border: 1px solid #50e3c2;
	background: #50e3c2;
}
.unrated-unirating {
	border: 1px solid #d1d2d4;
	background: #d1d2d4;
}
.dvrating-text {
	font-size: 13px;
	margin: 0;
	font-weight: 600;
	color: #242c42;
}

/* .spnUpdateDate {
	font-size: 13px;
	font-weight: 500;
	color: rgba(36, 44, 66, 0.41);
	margin-top: 10px;
	margin-left: 1px;
} */
.spnUpdateDate{
  display: none;
}
.flow-share {
	margin-top: 5px;
}
.flows {
	color: #fff;
	border: 1px solid #44a512;
	background-color: #44a512;
	-webkit-transition: color .5s,background-color .5s;
	transition: color .5s,background-color .5s;
}
.flow {
	color: #44a512;
	border: 1px solid #44a512;
	background-color: #fff;
	-webkit-transition: color .5s,background-color .5s;
	transition: color .5s,background-color .5s;
}
.spnUpdateDate {
	font-size: 13px;
	font-weight: 500;
	color: rgba(36, 44, 66, 0.41);
	display: none;
}
.flow:hover {
	color: #fff !important;
	background-color: #44a512;
}
/* .reviewer-profile area css  */
.reviewer-profile{
  text-align: center;
}
.reviewer-profile img {
	border-radius: 50%;
	height: 74px;
	width: 74px;
	
  text-align: center !important;
}
p.span {
	color: #44a512 !important;
	word-break: break-word;
}
.reviewer-profile h6 {
	color: rgba(36,44,66,.8);
	margin-bottom: 10px;
	font-size: 16px;
}
.reviewer-profile p span {
	font-size: 14px;
	padding-top: 53px;
}
.user-profile-hr {
	height: 1px;
	max-width: 50px;
	margin: 0 auto;
	border-top: 1px solid rgba(155,155,155,.4);
	margin-bottom: -8px;
}
.rp-title {
	color: #242c42;
	text-transform: capitalize;
	font-size: 22px;
	display: none;
}

.rev-profile {
	display: block ruby;
	margin-top: 10px;
}
.rating-fnt-change span i {
	font-size: 16px;
}
p.last-update {
	color: rgba(36,44,66,.6) !important;
	font-size: 14px !important;
}
p.review-view-count {
	font-size: 14px !important;
  color: rgba(69, 91, 151, 0.6) !important;
}
.personal-reviews-contents{}
.pr-text{
  color: #242c42 !important;
}
.pr-like-comment-share a{
  text-decoration: none;
  color: rgba(69, 91, 151, 0.6) !important;
}
.pr-like-comment-share a i {
	margin: 0px 13px;
	color: rgba(69, 91, 151, 0.6) !important;
	margin-top: 20px;
	font-size: 18px;
}
.fas.fa-thumbs-up {
	margin-left: 3px;
}
.section-divider {
	border-top: 1px solid #e5e5e5;
	clear: both;
	margin: 35px 50px;
	background: red;
	height: 1px;
	width: 100%;
	border-radius: 10px;
}
.page-item.active .page-link {
	z-index: 1;
	color: #fff;
	background-color: #44a512;
	border-color: #44a512;
}
.pag-area {
	padding-top: 20px;
	padding-bottom: 10px;
}
.pagination ul {
	/* text-align: center; */
	font-weight: 500;
	/* margin: 50px 0 0; */
	padding: 0;
	position: relative;
	border-bottom: 0 !important;
	z-index: 1;
}
.pagination.text-center li {
	border: 0;
	border-bottom: 0 !important;
}
/* ================================================================= msprofile css end ================================================================= */



/* new tab  */
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
.sexytabs  ul {
	/* text-align: center; */
	font-weight: 500;
	/* margin: 50px 0 0; */
	padding: 0;
	position: relative;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.sexytabs  ul  li {
	display: inline-block;
	background: #fff;
	padding: 0.6em 0;
	position: relative;
	width: 11%;
  font-size: 14px;
	text-align: center;
	border-right: 1px solid #ededed;
	text-align: center !important;
	margin: 0 auto;
}

.sexytabs>ul>li:before,
.sexytabs>ul>li:after {
    opacity: 0;
    transition: 0.3s ease;
}

.sexytabs>ul>li.ui-tabs-active:before,
.sexytabs>ul>li.ui-tabs-active:after,
.sexytabs>ul>li.ui-state-hover:before,
.sexytabs>ul>li.ui-state-hover:after,
.sexytabs>ul>li.ui-state-focus:before,
.sexytabs>ul>li.ui-state-focus:after {
    opacity: 1;
}

.sexytabs>ul>li:before,
.sexytabs>ul>li.ui-state-active.ui-state-hover:before,
.sexytabs>ul>li.ui-state-active.ui-state-focus:before {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 2px 3px rgba(22, 195, 255, 0.5);
    top: 50%;
    bottom: 0px;
    left: 5px;
    right: 5px;
    border-radius: 100px / 10px;
}

.sexytabs>ul>li:after,
.sexytabs>ul>li.ui-state-active.ui-state-hover:after,
.sexytabs>ul>li.ui-state-active.ui-state-focus:after {
    content: "";
    background: #fafafa;
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    bottom: -6px;
    margin-left: -6px;
    transform: rotate(45deg);
    box-shadow: inset 3px 3px 3px rgba(22, 195, 255, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sexytabs>ul>li.ui-state-hover:before,
.sexytabs>ul>li.ui-state-focus:before {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.sexytabs>ul>li.ui-state-hover:after,
.sexytabs>ul>li.ui-state-focus:after {
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2), inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.sexytabs>ul>li.ui-state-focus a {
    text-decoration: underline;
}

.sexytabs>ul>li:focus {
    outline: none;
}

.sexytabs  ul  li a {
	color: #444;
	text-decoration: none !important;
}

.sexytabs>ul>li a:focus {
    outline: none;
}

.sexytabs  ul  li a span {
	position: relative;
	/* top: -0.5em; */
	text-decoration: none;
}

.sexytabs.dark>ul {
    border-bottom-color: rgba(255, 255, 255, 0.3);
}

.sexytabs.dark>ul>li {
    background: #333;
}

.sexytabs.dark>ul>li:before,
.sexytabs.dark>ul>li.ui-state-active.ui-state-hover:before,
.sexytabs.dark>ul>li.ui-state-active.ui-state-focus:before {
    box-shadow: 0 2px 3px rgba(255, 255, 255, 0.3);
}

.sexytabs.dark>ul>li:after,
.sexytabs.dark>ul>li.ui-state-active.ui-state-hover:after,
.sexytabs.dark>ul>li.ui-state-active.ui-state-focus:after {
    background: #333;
    box-shadow: inset 3px 3px 3px rgba(255, 255, 255, 0.3), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.sexytabs.dark>ul>li.ui-state-hover:before,
.sexytabs.dark>ul>li.ui-state-focus:before {
    box-shadow: none;
}

.sexytabs.dark>ul>li.ui-state-hover:after,
.sexytabs.dark>ul>li.ui-state-focus:after {
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.4);
}

.sexytabs.dark>ul>li a {
    color: white;
}



.sexytabs {
    width: 100%;
    min-width: 360px;
    margin: auto;
}

.contents {
	padding: 20px 50px;
	min-height: 500px;
}

.darkpage {
    background: #333;
    color: white;
}

.darkpage,
.lightpage {
    padding: 50px 0;
}
/* .lightpage {
	width: 100%;
	background: #fff;
	margin-top: 25px;
	border-radius: 10px;
  border: 1px solid rgba(36,44,66,.2);
} */
.lightpage {
	width: 100%;
	background: #fff;
	margin-top: 25px;
	border-radius: 10px;
	/* border: 1px solid rgba(36,44,66,.2); */
	margin-top: -10px;
	margin-left: 46px;
}
.contents p {
	color: #000;
	margin-top: 10px;
	font-size: 18px;
}
.contents {
	color: #000;
}
@media screen and (min-width: 1000px) {
  .darkpage, .lightpage {
    /* width: 50%; */
    float: left;
    padding: 4px 0px;
  }
}




/* Notifacition css  */
.notifaction {
	padding: 50px;
}
.notifacation-box {
	background: #fff;
	border-radius: 15px;
	box-shadow: 3px 5px 14px 1px;
	padding: 50px 0px;
}

.noti-single-box {
	margin-top: 20px !important;
	border: 1px solid #ededed;
	margin: 0px 20px;
	border-radius: 10px;
}
.noti-img img {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	margin-left: 20px;
	margin-top: 20px;
}
.notifacation-box h3 {
	margin-left: 25px;
	color: ;
	font-weight: bold;
}
.noti-single-content {
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.noti-messaage {
	text-transform: lowercase;
	font-size: 15px;
	color: #3333;
  margin-top: 5px;
  margin-bottom: 5px;
}
.noti-name {
	text-transform: capitalize;
	color: #353434;
}
.noti-btn button {
	background: none;
	border: 1px solid;
	border-radius: 14px;
	font-size: 12px;
	border-color: #18E6E3 #CA86FE #77B3F1 #9BA0F6;
}

.goog-notifaction{
  padding: 50px 0px;
}
.btn-outline-success {
	color: #060606;
	border-color: #e0e6e2;
}


/* Full screen notifaction  */
.fls-notifaction {
	/* background-image: url(../img/svg/blob-scene-haikei.svg); */
	/* padding: 50px 0px; */
	background-size: cover;
	background-position: center;
	/* height: 100vh; */
  padding: 150px 0px;
}

.fls-noti-area {
	background: #fff;
	border-radius: 9px;
	box-shadow: #000 0px 0px 5px 0px;
	box-shadow: 0px 2px 9px -6px;
}
.fls-icon {
	background: #E9F5F3;
	padding: 30px;
	/* clip-path: polygon(0 2%, 70% 0%, 100% 30%, 110% 70%, 70% 100%, 0 99%, 0% 70%, 0% 30%); */
	border-radius: 9px 100px 100px 9px;
}
.fls-icon img {
	height: 2.5rem;
	margin-left: -11px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.fls-text {
	color: #3D445A !important;
	margin-top: 46px;
	margin-bottom: 32px;
}
.fls-text h5 {
	font-weight: bold;
}
.fls-text p {
	font-weight: normal;
	font-size: 15px;
	margin-top: 3px;
}
.fls-text h5 span {
	float: right;
	background: #FAF2FB;
	padding: 0px 16px;
	text-align: center;
	margin-top: -20px;
	color: #A4A6B3;
	border-radius: 7px;
	cursor: pointer;
	/* padding-left: 38px; */
	margin-right: 20px;
	line-height: 2;
}


.noti-btn {
  display: block ruby;
}
.noti-btn button {
  padding: 6px 9px;
  margin-top: 10px;
}
.btn-danger {
	color: #fff;
	background-color: #fabb05;
}